.App {
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 50px;
}

.App-map {
  font-size: 20px;
  height: 100px;
  letter-spacing: 40px;
  flex: 1 1 20%;
  border: solid 1px black;
  background: #09d3ac;
  margin: 10px;
}

.App-a {
  background: #09d3ac;
  visibility: hidden;
  display: flex;
  justify-content: center;
}

.App-visible {
  visibility: visible;
}
